.movie{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    padding: 16px;
}

.imgBox {
    height: 150px;
}
.movie .imgBox img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
}

.movie .plot {
    font-size: 12px;
}
.movie h2 {
    font-size: 20px;
}

.movie h3,
.movie h4 {
    font-size: 14px;
}
